@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginStatus.LoginStatusViewModel

<div class="sf-logged-in-view" style="display: none">
    <div>Click to login</div>
</div>

<div class="sf-logged-out-view" style="display: none">
    <div>Click to logout</div>
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>
</div>

<script>
    $(function () {
        $.get('@Url.Action("GetStatus", "LoginStatus")').then(function (response) {
            console.log(response);
            if (response && response.IsLoggedIn) {
                $('.sf-logged-in-view').show();
            }
            else {
                $('.sf-logged-out-view').show();
            }
        })
    });
</script>
