@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginStatus.LoginStatusViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery)

<div class="sf-logged-in-view" style="display: none">
    <p class="sf-logged-in-name"></p>
</div>

<input type="hidden" class="sf-status-json-endpoint-url" value="@Url.Action("Status")"/>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginStatus/login-status.js"))