@model Telerik.Sitefinity.Frontend.Publishing.Mvc.Models.FeedViewModel

@using Telerik.Sitefinity.Frontend.Publishing.Mvc.Models;

<div class="@Model.CssClass">
@if ((Model.InsertionOption == FeedInsertionOption.PageOnly || Model.InsertionOption == FeedInsertionOption.PageAndAddressBar) && Model.Link != null)
{
    @Html.Raw(Model.Link)
}
</div>