@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.FileField.FileFieldViewModel

<div class="@Model.CssClass">
    <label>
        @Model.MetaField.Title
        <input type="file" name="@Model.MetaField" />
    </label>
</div>