@model Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Models.IContentBlockModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType, Model.SharedContentID)>
    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.Raw(Model.Content)</div>
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions();
    }
</div>