@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-show="IsShared" class="alert alert-warning">
    <b>@Html.Resource("ThisContentIsShared")</b> @Html.Resource("SharedContentWarning")
</div>

<textarea kendo-editor ng-model="Properties.Content.PropertyValue"></textarea>