@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<server-data content-item-service-url='@Url.Content("~/Sitefinity/Services/Content/ContentItemService.svc/")'></server-data>

<div ng-show="isShared" class="alert alert-warning">
    <b>@Html.Resource("ThisContentIsShared")</b> @Html.Resource("SharedContentWarning")
</div>

<textarea kendo-editor ng-model="properties.Content.PropertyValue"></textarea>