@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<server-data content-item-service-url='@Url.Content("~/Sitefinity/Services/Content/ContentItemService.svc/")'></server-data>

<div class="form-group">
    @Html.Raw(Html.Resource("AreYouSureYouWantToUnshareThisContent"))
</div>

<script type="text/ng-template" section="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="unshareContent()">@Html.Resource("UnshareThisContent")</button>
    <button type="button" class="btn btn-link" ng-click="cancel()">@Html.Resource("Cancel")</button>
</script>