@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-show="IsShared" class="alert alert-warning">
    <b>@Html.SfRes("ThisContentIsShared")</b> @Html.SfRes("SharedContentWarning")
</div>

<textarea id ="contentEditor" kendo-editor k-value="ContentProperty.PropertyValue" k-on-change="contentChange(kendoEvent)"></textarea>