@model News.Mvc.Models.INewsModel
@using News.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


Detail template

<div class="@Model.DetailCssClass">
@{
    using (Html.InlineEditingRegion(Model.ProviderName, "Telerik.Sitefinity.News.Model.NewsItem", Model.DetailNews.Id))
    {
        <h1>
            @Html.TextField("Title", Model.DetailNews.Title, "ShortText")
        </h1>
        <div>
            @Html.TextField( "Content", Model.DetailNews.Content, "LongText")
        </div>
    
        if (Model.EnableSocialSharing)
        {
            @Html.SocialShareOptions();
        }
    }
}
</div>