@model Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Models.UnsubscribeForm.UnsubscribeFormViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    <h3>Unsubscribe successful</h3> 
    <pre>@Html.Raw(Model.Message)</pre>
</div>