@model Telerik.Sitefinity.Frontend.Publishing.Mvc.Models.UnsubscribeFormViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    <h3>@Html.Resource("SuccessfulUnsubscribe")</h3>

    <div>@Model.Message</div>
</div>