@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;

    <div class="@Model.CssClass">

        @foreach (var item in Model.Items)
        {
            <p>@item.Fields.Title</p>

            foreach (var listItem in ((ListViewModel)item).ListItemsViewModel)
            {
                <p>@listItem.Fields.Title</p>
            }
        }

    </div>
