@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;

<div class="@Model.CssClass">

    @foreach (var item in Model.Items)
    {
        <h1>@item.Fields.Title</h1>

        foreach (var listItem in ((ListViewModel)item).ListItemsViewModel)
        {
            <h2>@listItem.Fields.Title</h2>
            <p>@listItem.Fields.Content</p>
        }
    }

</div>
