@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

<div class="@Model.CssClass">

    @foreach (var item in Model.Items)
    {
        <h3>@item.Fields.Title</h3>
        <ol>
            @foreach (var listItem in @item.Fields.ListItems)
            {
                <li>@listItem.Title</li>
            }
        </ol>
    }

</div>
