.sf-FormNav
	padding: 0

	li
		display: inline-block
		margin-right: 20px

		&.active
			font-weight: bold

.sf-FormNav-page
	position: relative
	display: inline-block
	margin-right: 10px
	width: 28px
	height: 28px
	line-height: 28px
	color: #999
	font-size: 18px
	border: 1px solid #999
	font-weight: bold
	border-radius: 50%
	text-align: center
	vertical-align: middle

	.active &
		color: #333
		border-color: #333

	.past &
		&:after
			content: '\2713'
			position: absolute
			left: 7px

.sf-FormNav-page-number
	.past &
		display: none

