@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SubmitButton.SubmitButtonViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

<div class="@Model.CssClass">
    <button type="submit" @Html.SubmitButtonRequiredAttributes() >@Model.Label</button>
</div>