@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SubmitButton.SubmitButtonViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

<div class="@Model.CssClass">
    @if (Model.AllowGoBack)
    {
        <a href="">@Html.Raw(Model.PreviousStepText) </a>
    }
    <button type="submit" @Html.SubmitButtonRequiredAttributes() >@Model.Label</button>
</div>