@model Telerik.Sitefinity.Frontend.Search.Mvc.Models.ISearchBoxModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<input type="text" />
<button type="button">@Html.Resource("SearchLabel")</button>

<script>
    (function ($) {
        var resultsUrl = '@Html.Raw(Model.ResultsUrl)';
    })(jQuery);
</script>
