@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<ul class="@Model.CssClass">
    @foreach (var taxon in Model.Taxa)
    {
        <li>
            <a href="@taxon.Url">@taxon.Title</a>

            @if (Model.ShowItemCount)
            {
                
            <span>@Html.HtmlSanitize(string.Format("({0})", taxon.Count))</span>
                
            }
        </li>

    }
</ul>