@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.ParagraphTextField.ParagraphTextFieldViewModel

<div class="@Model.CssClass sf-fieldWrp" data-sf-role="text-field-container">
    <label>@Model.MetaField.Title</label>
    <p>@Model.Value</p>
</div>
