<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.6010.0" newVersion="7.1.6010.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Model" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.6010.0" newVersion="7.1.6010.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>