@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.TextField.ITextFieldModel

<div class="@Model.CssClass" data-sf-role="text-field-container">
    <label>@Model.MetaField.Title</label>
    <p>@Model.Value</p>
</div>
