@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.TextField.TextFieldViewModel

<div class="@Model.CssClass sf-fieldWrp" data-sf-role="text-field-container">
    <strong>@Model.MetaField.Title</strong>
    <p>@Model.Value</p>
</div>
