@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SectionHeader.SectionHeaderViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

<div class="@Model.CssClass sf-fieldWrp" role="heading">
    @Html.Raw(Model.Text)
</div>