@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SectionHeader.SectionHeaderViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass sf-fieldWrp">
    @Html.HtmlSanitize((string)Model.Text)
</div>