@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SectionHeader.SectionHeaderViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

<div class="@Model.CssClass">
    @Html.BuildSectionHeader(Model.Text, Model.HeadingType)
</div>