@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SectionHeader.SectionHeaderViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

File system template

<div class="@Model.CssClass sf-fieldWrp">
    @Html.Raw(Model.Text)
</div>