@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="form-group">

    <div class="form-group">
        <h4>@Html.Resource("SocialShareOptions")</h4>

        <div style="margin-left: auto; margin-right: auto;" ng-repeat="socialGroups in socialShareSectionMap">
            <div style="float: left; width: 33%;" ng-repeat="(name,value) in socialGroups.Groups">
                <input type='checkbox' ng-model="socialGroups.Groups[name]">{{::name}}<br />
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="socialShareTemplateName">@Html.Resource("Template")</label>

        <div class="row">
            <div class="col-xs-6">
                <select id="socialShareTemplateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("SocialShare", @"(?<viewName>^SocialShare.*)$"))
                    {
                        <option value="@viewName"> @viewName</option>
                    }
                </select>
            </div>
        </div>
    </div>

</div>




