@model Telerik.Sitefinity.Frontend.SocialShare.Mvc.Models.SocialShareModel
@using Telerik.Sitefinity.Frontend.SocialShare.SocialShareHelpers

@{
    var shareUrl = SocialShareButtons.ShareUrl;
    var pageTitle = SocialShareButtons.PageTitle;
}

<ul class="list-inline s-social-share-list">
@foreach (var button in Model.SocialButtons)
{
    switch (button.ButtonName)
    {
        case "Facebook":
            <li>
                <div class='fb-share-button' data-href='@shareUrl' data-type='icon'></div>
                <div id='fb-root'></div>
                <script>
                    (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_EN/all.js#xfbml=1'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
                </script>
            </li>
            break;
        case "Twitter":
            <li>
                <a href='https://twitter.com/share' title='Share on Twitter' class='twitter-share-button' data-url=@shareUrl data-count='none'></a>
                <script>
                    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
                </script>
            </li>
            break;
        case "LinkedIn":
            <li>
                <script src='//platform.linkedin.com/in.js' type='text/javascript'>lang: en_US</script><script type='IN/Share' data-url='@shareUrl'></script>
            </li>
            break;
        case "GooglePlusOne":
            <li>
                <div class='g-plusone' data-size='small' data-annotation='none'></div>
                <script type='text/javascript'>
                    (function () { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/platform.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();
                </script>
            </li>
            break;
        case "Blogger":
            <li>
                <a onclick="window.open('https://www.blogger.com/blog_this.pyra?t&u=@shareUrl&n=@pageTitle', 'Blogger','toolbar=no,width=550,height=550'); return false" title="Share on Blogger">
                    <span class="ss-icon ss-blogger"></span>
                </a>
            </li>
            break;
        case "Delicious":
            <li>
                <a onclick="window.open('https://delicious.com/save?v=5&noui&jump=close&url=@shareUrl&title=@pageTitle', 'Delicious','toolbar=no,width=550,height=550'); return false" title="Share on Delicious">
                    <span class="ss-icon ss-delicious"></span>
                </a>
            </li>
            break;
        case "Tumblr":
            <li>
                <a onclick="window.open('https://www.tumblr.com/share?v=3&u=@shareUrl&t=@pageTitle', 'Tumblr','toolbar=no,width=550,height=550'); return false" title="Share on Tumblr">
                    <span class="ss-icon ss-tumblr"></span>
                </a>
            </li>
            break;
        case "GoogleBookmarks":
            <li>
                <a onclick="window.open('https://www.google.com/bookmarks/mark?op=add&bkmk=@shareUrl&title=@pageTitle', 'Google bookmarks','toolbar=no,width=550,height=550'); return false" title="Share on GoogleBookmarks">
                    <span class="ss-icon ss-googlebookmarks"></span>
                </a>
            </li>
            break;
        case "Digg":
            <li>
                <a onclick="window.open('http://digg.com/submit?url=@shareUrl&title=@pageTitle', 'Digg','toolbar=no,width=550,height=550'); return false" title="Share on Digg">
                    <span class="ss-icon ss-digg"></span>
                </a>
            </li>
            break;
        case "MySpace":
            <li>
                <a onclick="window.open('http://myspace.com/Modules/PostTo/Pages/?u=@shareUrl&t=@pageTitle', 'My Space','toolbar=no,width=550,height=550'); return false" title="Share on MySpace">
                    <span class="ss-icon ss-myspace"></span>
                </a>
            </li>
            break;
        case "StumbleUpon":
            <li>
                <a onclick="window.open('http://stumbleupon.com/submit?url=@shareUrl&title=@pageTitle', 'Stumble upon','toolbar=no,width=550,height=550'); return false" title="Share on StumbleUpon">
                    <span class="ss-icon ss-stumbleupon"></span>
                </a>
            </li>
            break;
        case "Reddit":
            <li>
                <a onclick="window.open('http://www.reddit.com/submit?newwindow=1&url=@shareUrl&title=@pageTitle', 'Reddit','toolbar=no,width=550,height=550'); return false" title="Share on Reddit">
                    <span class="ss-icon ss-reddit"></span>
                </a>
            </li>
            break;
        default:
            break;                   
    }
}
</ul>