<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Image</h3>
</div>

<sf-image-field class="sf-Media--info modal-settings" sf-model="properties.Id.PropertyValue" sf-image="properties.Item.PropertyValue" sf-provider="properties.Provider.PropertyValue"></sf-image-field>

<div class="modal-body">
    <form name="imageProperties">
        <div class="form-group" ng-class="{ 'has-error' : !properties.Title.PropertyValue.Value }">
            <label for="title">Title</label>

            <div class="row">
                <div class="col-xs-8">
                    <input class="form-control" name="title" type="text" ng-model="properties.Title.PropertyValue.Value" ng-required="true" />
                </div>

                <div class="m-top-xs" ng-class="{'text-danger': properties.Title.PropertyValue.Value.length > 35}">{{properties.Title.PropertyValue.Value.length}}</div>
            </div>

            <div class="text-muted">Less than 35 characters are recommended</div>

            <p class="text-danger" ng-show="imageProperties.title.$error.required">Title is required</p>
        </div>
        <div class="form-group">
            <label for="alternativeText">Alternative text</label>
            <div class="row">
                <div class="col-xs-8">
                    <input class="form-control" name="alternativeText" type="text" ng-model="properties.AlternativeText.PropertyValue.Value" />
                </div>
                <div class="m-top-xs" ng-class="{'text-danger': properties.AlternativeText.PropertyValue.Value.length>35}">{{properties.AlternativeText.PropertyValue.Value.length}}</div>
            </div>

            <div class="text-muted">Less than 35 characters are recommended</div>
        </div>

        <div class="form-group">
            <label>Image size</label>
            <div ng-include="thumbnailSizeTempalteUrl"></div>
        </div>

        <expander expander-title='More options'>

            <div class="row">
                <div class="col-xs-9">
                    <label>CSS classes</label>
                    <input class="form-control" type="text" ng-model="properties.CssClass.PropertyValue" />
                </div>
            </div>
        </expander>
    </form>
</div>