<sf-image-field class="sf-Media--info modal-settings" sf-model="model.item.Id" sf-image="model.item" sf-provider="model.provider"></sf-image-field>

<div class="modal-body">
    <form name="imageProperties">
        <div class="form-group" ng-class="{ 'has-error' : !model.item.Title.Value }">
            <label for="title">Title</label>

            <div class="row">
                <div class="col-xs-8">
                    <input class="form-control" name="title" type="text" ng-model="model.item.Title.Value" ng-required="true" />
                </div>

                <div class="m-top-xs" ng-class="{'text-danger': model.item.Title.Value.length > 35}">{{model.item.Title.Value.length}}</div>
            </div>

            <div class="text-muted">Less than 35 characters are recommended</div>

            <p class="text-danger" ng-show="imageProperties.title.$error.required">Title is required</p>
        </div>
        <div class="form-group">
            <label for="alternativeText">Alternative text</label>
            <div class="row">
                <div class="col-xs-8">
                    <input class="form-control" name="alternativeText" type="text" ng-model="model.item.AlternativeText.Value" />
                </div>
                <div class="m-top-xs" ng-class="{'text-danger': model.item.AlternativeText.Value.length>35}">{{model.item.AlternativeText.Value.length}}</div>
            </div>

            <div class="text-muted">Less than 35 characters are recommended</div>
        </div>

        <div class="form-group">
            <label>Image thumbnail</label>
            <div ng-include="thumbnailSizeTempalteUrl"></div>
        </div>

        <expander expander-title='More options'>
            <div class="row">
                <div class="col-xs-9">
                    <label>CSS classes</label>
                    <input class="form-control" type="text" ng-model="model.cssClass" />
                </div>
            </div>
        </expander>
    </form>
</div>
