@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel

@if (string.IsNullOrEmpty(Model.PageUrlUseAsLink))
{
    Html.Raw(Model.Markup);  
}
else
{
	<a href="@Model.PageUrlUseAsLink">
        @Html.Raw(Model.Markup)
    </a>
}