@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel

@if (string.IsNullOrEmpty(Model.LinkedPageUrl))
{
    @Html.Raw(Model.Markup)
}
else
{
	<a href="@Model.LinkedPageUrl">
        @Html.Raw(Model.Markup)
    </a>
}