@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;

@if (Model.EmailSent)
{
    <p>You sent a request to reset your password.</p>
    <p>Please use the link provided in your email to reset the password for your account.</p>
    <a href="#">Back to login</a>
}
else
{
    using (Html.BeginForm("SetForgotPassword", "LoginForm"))
    {
        @Html.ValidationSummary(true, "Email send failed. Check your email.");
    
        <div class="editor-label">
            @Html.DisplayFor(u => u.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)
        </div>
    
        <input type="submit" value="Send" />
    }
}
