@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;

<div class="@Model.CssClass">

@if (Model.EmailSentComplete)
{
    <p>You sent a request to reset your password.</p>
    <p>Please use the link provided in your email to reset the password for your account.</p>
    <a href="#">Back to login</a>
}
else
{
    using (Html.BeginForm("SetForgotPassword", "LoginForm"))
    {
        <div class="sf-error">@Model.Error</div>
    
        <div class="editor-label">
            @Html.DisplayFor(u => u.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Email)
        </div>
    
        <input type="submit" value="Send" />
    }
}

</div>
