@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>
    
    @@if(item != null)
    {
        <a href='@@Model.Item.Fields.@(Model.Name).DefaultUrl'>
            @@Model.Item.Fields.@(Model.Name).Identifier
        </a>
    }
</div>
@@*End @Model.Name field*@@