@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using Telerik.Sitefinity.DynamicModules.Builder.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

<div>
    <strong> @Model.Title :</strong>

	@@if(!string.IsNullOrEmpty(Model.Item.@(Model.Name).CountryCode))
	{
    <div> 
@if(Model.AddressFieldMode!=AddressFieldMode.MapOnly)
{
        <address>
            @@(((Telerik.Sitefinity.GeoLocations.Model.Address)Model.Item.@(Model.Name)).GetFormattedAddress("#=Street# #=City# #=State# #=Country#"))
        </address>
}
@if(Model.AddressFieldMode!=AddressFieldMode.FormOnly && FieldExtensions.IsApiKeyValid())
{
        <div>
            <a class="viewMapLnk">View map</a>
            <div class="addressMapWrp" style="display:none">
                <input class="addressValueInput" type="hidden" value="@@(new JavaScriptSerializer().Serialize(Model.Item.@(Model.Name)))" />
                <div class="mapContainer" style="width:500px; height:500px"></div>
            </div>
        </div>
}
    </div>
	}
</div>
