@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using System.Web.Script.Serialization;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.GeoLocations.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.RelatedData; 

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Id)>
    <h1 class="sfitemTitle sftitle">
        @*MainTextFieldForDetail*@
    </h1>
    <div class="text-muted">
        @(((DateTime)Model.Item.PublicationDate).ToSitefinityUITime().ToString("MMM d, yyyy, HH:mm tt"))
    </div>
    
    @*GenerateFieldsSection*@
    
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }
</div>