@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

@foreach (var taxa in Model.Taxa)
{
    <p>
        <a>@taxa.Title</a>

        @if (Model.ShowItemCount)
        {
          @:(@taxa.Count)
        }
    </p>
}