@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<sf-media-field class="sf-Media--info modal-settings"
                sf-auto-open-selector
                sf-model="properties.Id.PropertyValue"
                sf-media-type="videos"
                sf-provider="properties.ProviderName.PropertyValue"></sf-media-field>

<p>Custom designer</p>