@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Video.VideoViewModel

@{
    var videoUrl = Model.Item.Fields.MediaUrl;
    var width = Model.AspectRatio.ToLowerInvariant() == "auto" ? string.Empty : string.Format("width={0}", Model.Width);
    var height = Model.AspectRatio.ToLowerInvariant() == "auto" ? string.Empty : string.Format("height={0}", Model.Height);
}

<div class="@Model.CssClass">
    @if (!string.IsNullOrEmpty(videoUrl))
    {
        <video src="@videoUrl" @width @height controls="controls"></video>
        
        <p>@Model.Item.Fields.Title</p>
        <p>@Model.Item.Fields.Description</p>
    }
</div>
