<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Comments" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Model" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Utilities" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Notifications" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Resources" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Events" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5700.0" newVersion="8.0.5700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Mvc" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.270.0" newVersion="1.2.270.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
