@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
    @@foreach(var contentLink in (IEnumerable<ContentLink>)Model.Item.Fields.@(Model.Name))
    {
        <li>
            <video controls>
                <source  src='@@contentLink.GetVideo().MediaUrl'>
            </video>
        </li>
    }
</ul>
@@*End @Model.Name field*@@