@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
@@foreach (var relatedItem in Model.Item.Fields.@(Model.Name))
{
    <li class="media">
        <video controls>
            <source src='@@relatedItem.Fields.MediaUrl'>
        </video>
    </li>   
}
</ul>
@@*End @Model.Name field*@@