@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.@(Model.Name)!=null)
    {
    <span @@Html.InlineEditingFieldAttributes("@Model.Name", "DateTime")>
        @@(((DateTime)Model.Item.@(Model.Name)).ToSitefinityUITime().ToString("MMM d, yyyy, HH:mm tt"))
    </span>
    } 
</div>