@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.@(Model.Name)!=null)
    {
    <ul @@Html.InlineEditingFieldAttributes("@Model.Name", "FlatTaxon")>
    @@foreach (string taxonName in Model.Item.GetFlatTaxonNames(Model.Name))
    {
        <li>@@taxonName</li>   
    }
    </ul>
    }
</div>
@@*End @Model.Name field*@@