@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.@(Model.Name)!=null)
    {
    <ul @@Html.InlineEditingFieldAttributes(@Model.Name, "HierarchicalTaxon")>
    @@foreach (string taxonName in ((IList<Guid>)Model.Item.@(Model.Name)).GetTaxonNames(new Guid("@(Model.ClassificationId)")))
    {
        <li>@@taxonName</li>   
    }
    </ul>
    }
</div>