@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div @@Html.InlineEditingFieldAttributes("@Model.Name", "LongText")>@@(Model.Item.@(Model.Name))</div>
@@*End @Model.Name field*@@