@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    @@{{
        var image = ((IEnumerable<ContentLink>)item.Fields.@(Model.Name)).FirstOrDefault();
        if(image != null)
        {
            <img src='@@image.GetImage().MediaUrl' alt='@@image.GetImage().AlternativeText' title='@@image.GetImage().Title' />
        }
    }}
</div>
@@*End @Model.Name field*@@