@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

<ul>
    @@foreach(var contentLink in (IEnumerable<ContentLink>)Model.Item.@(Model.Name))
    {
        <li>
            <video controls>
                <source  src='@@contentLink.GetVideo().MediaUrl'>
            </video>
        </li>
    }
</ul>