@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
    @@foreach(ContentLink contentLink in Model.Item.@(Model.Name))
    {
        <li><img src='@@contentLink.GetImage().ThumbnailUrl' alt='@@contentLink.GetImage().AlternativeText' title='@@contentLink.GetImage().Title' /></li>
    }
</ul>
@@*End @Model.Name field*@@