@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

<ul>
    @@foreach(var contentLink in (IEnumerable<ContentLink>)Model.Item.@(Model.Name))
    {
        <li>
            <a href='@@contentLink.GetDocument().MediaUrl)'>@@contentLink.GetDocument().Title</a>
        </li>
    }
</ul>