@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.@(Model.Name)!=null)
    {
    <span>@@Model.Item.@(Model.Name)</span>   
    <span>@Model.NumberUnit</span>
    }
</div>
@@*End @Model.Name field*@@