@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.Fields.@(Model.Name)!=null)
    {
    <span>@@Model.Item.GetPrice("@Model.Name","{0:C}")</span>
    }
</div>
@@*End @Model.Name field*@@