@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>

    <ul>
    @@foreach (var pageItem in Model.Item.Fields.@(Model.Name))
    {
        <li>
            <a @@pageItem.LinkTargetAttribute() href='@@pageItem.DefaultUrl'>
                @@pageItem.Fields.Title
            </a>
        </li>   
    }
    </ul>
</div>
@@*End @Model.Name field*@@