@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
@@{{
    var item = Model.Item.RelatedItems("@Model.Name").GetSingle<RelatedMediaViewModel>();
    if(item != null)
    {
        <a href='@@item.MediaUrl'>@@item.Title</a>
    }
}}
@@*End @Model.Name field*@@