@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>

    @@{{
        var item = Model.Item.RelatedPageItem("@Model.Name").GetSingle<RelatedPageViewModel>();
        if(item != null)
        {
            <a @@item.LinkTargetAttribute href='@@item.DefaultUrl'>
                @@item.Title
            </a>
        }
    }}
</div>
@@*End @Model.Name field*@@