@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
@@foreach (var relatedItem in Model.Item.RelatedItems<RelatedImageViewModel>("@Model.Name"))
{
    <li class="media">
        <a href='@@relatedItem.MediaUrl'>
            <img src='@@relatedItem.ThumbnailUrl' alt='@@relatedItem.AlternativeText' title='@@relatedItem.Title' />
        </a>
    </li>   
}
</ul>
@@*End @Model.Name field*@@