@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>
    
    @@{{
        var item = Model.Item.RelatedItem("@Model.Name");
        if(item != null)
        {
            <a href='@@item.DefaultUrl'>
                @@item.Identifier
            </a>
        }
    }}
</div>
@@*End @Model.Name field*@@