@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
@@{{
    var item = Model.Item.RelatedItem("@Model.Name");
    if(item != null)
    {
        <a href='@@item.Fields.MediaUrl'>@@item.Fields.Title</a>
    }
}}
@@*End @Model.Name field*@@