@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
@@foreach (var relatedItem in Model.Item.RelatedItems<RelatedMediaViewModel>("@Model.Name"))
{
    <li class="media">
        <video controls>
            <source  src='@@relatedItem.MediaUrl'>
        </video>
    </li>   
}
</ul>
@@*End @Model.Name field*@@