@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>

    @@if(Model.Item.Fields.@(Model.Name) != null)
    {
        <a @@Model.Item.Fields.@(Model.Name).LinkTargetAttribute() href='@@Model.Item.Fields.@(Model.Name).DefaultUrl'>
            @@Model.Item.Fields.@(Model.Name).Fields.Title
        </a>
    }
</div>
@@*End @Model.Name field*@@