@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.Mvc.Helpers;

<div>
    <strong> @Model.FrontendWidgetLabel :</strong>

    @@{{
        var item = ((object)Model.Item).GetRelatedItems("@Model.Name").FirstOrDefault<IDataItem>() as object;
        if(item != null)
        {
            <a @@(((PageNode)item).OpenNewWindow ? "target='_blank'" : "") href='@@item.GetDefaultUrl()'>
                @@(((IDynamicFieldsContainer)item).GetValue("@(((string)Model.RelatedDataType).GetIdentifierField())"))
            </a>
        }
    }}
</div>