@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.Mvc.Helpers;

<div>
    <strong> @Model.FrontendWidgetLabel</strong>

    <ul>
    @@foreach (IDynamicFieldsContainer relatedItem in ((object)Model.Item).GetRelatedItems("@Model.Name").ToList<IDataItem>())
    {
        <li>
            <a href='@@RelatedDataExtensions.GetDefaultUrl(relatedItem)'>
                @@relatedItem.GetValue("@(((string)Model.RelatedDataType).GetIdentifierField())")
            </a>
        </li>   
    }
    </ul>
</div>