@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
@@foreach (var relatedItem in Model.Item.RelatedItems("@Model.Name").ToList<RelatedMediaViewModel>())
{
    <li class="media">
        <a href='@@relatedItem.MediaUrl'>@@relatedItem.Title</a>
    </li>   
}
</ul>
@@*End @Model.Name field*@@