@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<ul>
@@foreach (var relatedItem in Model.Item.RelatedItems("@Model.Name"))
{
    <li class="media">
        <a href='@@relatedItem.Fields.MediaUrl'>@@relatedItem.Fields.Title</a>
    </li>   
}
</ul>
@@*End @Model.Name field*@@