@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Libraries.Model;

<ul>
@@foreach (MediaContent relatedItem in ((object)Model.Item).GetRelatedItems("@Model.Name").ToList<IDataItem>())
{
    <li class="media">
        <video controls>
            <source  src='@@relatedItem.MediaUrl'>
        </video>
    </li>   
}
</ul>