@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

<div>
    <strong> @Model.Title :</strong>

    <span @@Html.InlineEditingFieldAttributes(@Model.Name, "ShortText")>@@Model.Item.@(Model.Name)</span>    
</div>