<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="arrangementCulture" value="bg-BG" />
    <add key="arrangementSite" value="SecondSite" />
    <add key="arrangementSiteUrl" value="http://localhost:80/" />
    <add key="arrangementSiteCultures" value="en|bg-BG" />
  </appSettings>
</configuration>