@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.MultipleChoiceField.MultipleChoiceFieldViewModel

<div class="@Model.CssClass" data-sf-role="text-field-container">
    <strong>@Model.MetaField.Title</strong>
    <p>@Model.Value</p>
</div>
