<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Feather.Core" version="14.3.8000" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Mvc" version="14.3.8000" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Core" version="14.3.8000" targetFramework="net48" />
  <package id="Progress.Sitefinity.Renderer" version="14.3.8000.269" targetFramework="net48" />
</packages>