@model Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Models.IContentBlockModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.WrapperCssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType, Model.SharedContentID)>
    <div class="sfContentBlock sf-Long-text" @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize(Model.Content)</div>    
</div>