@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-show="isShared" class="alert alert-warning">
    <b>@Html.Resource("ThisContentIsShared")</b> @Html.Resource("SharedContentWarning")
</div>

<sf-html-field class="kendo-content-block" ng-model="properties.Content.PropertyValue"></sf-html-field>
