@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Helpers

<server-data blank-content-item='@Html.GetBlankContentItem()'></server-data>
 Add a personalized version of Content block

<div class="form-group">

    <label for="segmentSelector">Which user segment is this personalized version for?</label>

    <div class="row">
        <div class="col-xs-6">
            <select id="segmentSelector" ng-model="model.segmentId" class="form-control">
                <option ng-repeat="segment in segments" value="{{ segment.Id }}">{{ segment.Name }}</option>
            </select>
        </div>
    </div>
</div>

<script type="text/ng-template" section="modal-footer">
    <button type="button" class="btn btn-primary pull-left" ng-click="addPersonalization()">@Html.Resource("Add")</button>
    <a class="btn btn-link pull-left" data-dismiss="modal" ng-click="cancel()">@Html.Resource("Cancel")</a>
</script>
