@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@Html.Script("http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")

<div ng-show="isShared" class="alert alert-warning">
    <b>@Html.Resource("ThisContentIsShared")</b> @Html.Resource("SharedContentWarning")
</div>
<sf-html-field class="kendo-content-block" sf-model="properties.Content.PropertyValue"></sf-html-field>
