@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="form-group">
    @Html.HtmlSanitize((string)Html.Resource("AreYouSureYouWantToUnshareThisContent"))
</div>

<script type="text/ng-template" section="modal-footer" use-element-scope="true">
    <button type="button" class="btn btn-warning pull-left" ng-click="unshareContent()">@Html.Resource("UnshareThisContent")</button>
    <button type="button" class="btn btn-link" ng-click="cancel()">@Html.Resource("Cancel")</button>
</script>
