@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.TextField;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

<div class="form-group">

    <label for="nameField">
        @Html.Resource("Name")
    </label>
    <div class="row">
        <div class="col-xs-6">
            <input id="nameField" type="text" ng-model="properties.Model.MetaField.FieldName.PropertyValue" class="form-control" />
        </div>
    </div>

</div>

<div class="form-group">

    <label for="valueField">
    @Html.Resource("PredefinedValue")
    </label>
    <div class="row">
        <div class="col-xs-6">
            <input id="valueField" type="text" ng-model="properties.Model.MetaField.DefaultValue.PropertyValue" class="form-control" maxlength="255" />
        </div>
    </div>

</div>